@use "variables" as *;
@use "sass:map";

@mixin responsive($property, $val-map) {
    @each $break, $val in $val-map {
        @if map.get($breakpoints, $break) == 0 {
            #{$property}: $val
        } @else {
            @media (min-width: map.get($breakpoints, $break)) {
                #{$property}: $val
            }
        }
    }
}
