// ==========================
// COLORS
// ==========================
// Theme colors
$bg-prim: #d5d7de;
$footer-prim: #e0e0e0;
$card-bg: #ebebeb;
$input-bg: #fff;
$input-focus-bg: #f6f6f6;
$acc-prim: #583eee;
$valid-prim: rgb(62, 198, 62);
$valid-bg: rgb(227, 241, 229);
$invalid-prim: rgb(228, 54, 54);
$invalid-bg: rgb(242, 210, 210);
$brd-color: #545454;
$shad-color:rgba(35, 35, 35, 0.541);

// Typography colors
$fnt-mod: #1e1e1e;
$fnt-dark: #1e1e1e;
$fnt-light: #e3e3e5;


// ==========================
// EFFECTS & SHADOWS
// ==========================
$card-bord: 1px solid $brd-color;
$shad: 2px 2px 10px $shad-color;


$inp-bord: 2px solid $brd-color;

// Transitions
$hover-scale: 1.2; // Scale on hover
$trans-d: 250ms; // Transition duration
$trans-tf: cubic-bezier( 0.55, 0.26, 0.11, 1.72); // Transition timing function


// ==========================
// SIZING / SPACING / TYPOGRAPHY
// ==========================

// Paddings / margins
$xxs-pd: 4px;
$xs-pd: 8px;
$s-pd: 12px;
$m-pd: 20px;
$l-pd: 32px;
$xl-pd: 48px;
$xxl-pd: 64px;

// Font sizes
$xs-fnt: 0.8rem;
$s-fnt: 1rem;
$m-fnt: 1.2rem;
$l-fnt: 1.6rem;
$xl-fnt: 2rem;
$xxl-fnt: 2.6rem;


// Border variables
$brd-w: 1px; // Width
$brd-r: 12px; // Radius
$brdprim: $brd-w solid; // Primary border

// Breakpoints
$breakpoints: (xs: 0, sm: 600px, md: 900px, lg:1200px, xl: 1850px);

