@use "../styles/abstracts/index" as *;

$caret-color: #616161;
$accordion-bg: #dedcdc;
$accordion-bord: 2px solid $acc-prim;
$icon-size: 20px;
$icon-brd-r: 50%;

.caret {
    color:$caret-color;
    font-weight:bold;
}

.accordion {
    padding: $s-pd;
    @include responsive(min-width, (xs: 100px, sm:200px));
    background: linear-gradient(50deg, $accordion-bg 40%, $card-bg);
    border: $accordion-bord;
    border-radius: $brd-r;
    transition: all $trans-d $trans-tf;

    .accordion__header {
        cursor:pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            user-select:none;
        }

        span {
            display: inline-block;
            user-select:none;
            vertical-align:text-top;
            margin-right: $xs-pd;
            transition: transform $trans-d $trans-tf;
            transform-origin: 50% 50%;
            will-change:transform;
        }

        &:hover, &:focus-visible {
            span {
                transform:translateX(-5px);
            }
        }
    }

    .accordion__icon {
        background-color: $bg-prim;
        height: calc($icon-size + $m-pd);
        padding:$xs-pd;
        border-radius: $icon-brd-r;
        overflow:visible

    }

    .accordion__content {
        margin-top:0;
        opacity:0;
        visibility:hidden;
        overflow: hidden;
        transform-origin: 50% 0%;
        transform:scaleY(0);
        transition: margin-top 300ms $trans-tf,
        max-height 300ms ease-in,
        transform 300ms ease-out,
        opacity 300ms ease-out,
        visibility 300ms ease-out;
        transition-behavior: allow-discrete;
    }

    &.open {
        .accordion__header span {
            transform:rotate(90deg) !important;
        }

        .accordion__content {
            margin-top: $s-pd;
            visibility:visible;
            overflow: visible;
            opacity:1;
            transform: scaleY(1);
            transform-origin:50% 0%;
        }
    }
}

