@use "../styles/abstracts/index" as *;

.card {
    transition: all 300ms ease-in;
    overflow: auto;
    background-color: $card-bg;
    max-height:100vh;
    padding: $m-pd;
    border-radius:$brd-r;
    border: $card-bord;
    box-shadow: $shad;
    @extend %scrollbar;
}

.hidden {
    transform-origin:0 50%;
    transform: scale(0);
}