@use "../abstracts/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

input, textarea, button, fieldset {
    min-width:0;
}

input[type="month"] {
    min-width:0;
}
